<div class="container-fluid">
  <div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-6 main-header">
        <h2>Lista<span>Grupo Administradores</span></h2>
        <h6 class="mb-0">lista para cadastro grupo administradores</h6>
      </div>
      <div class="col-lg-6 breadcrumb-right">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#"><i class="pe-7s-home"></i></a></li>
          <li class="breadcrumb-item">Grupos Adms</li>
          <li class="breadcrumb-item active">Lista</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">

          <div class="row">
            <div class="col-sm-6">
              <h5>Lista</h5>
            </div>
            <div class="col-sm-6 text-right">
              <button class="btn btn-primary" type="button" data-toggle="modal" data-target=".bd-example-modal-lg">Cadastrar Novo</button>
            </div>
            <app-register-group-adms></app-register-group-adms>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">ID Usuários</th>
                <th scope="col">Nome Grupo</th>
                <th scope="col">Data de Criação</th>
                <th scope="col">Data de Update</th>
                <th scope="col">Ativo/Desativado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listAdms; let i = index">
                <th scope="row">{{ i }}</th>
                <td>{{ item.idAdm }}</td>
                <td>{{ item.name}}</td>
                <td>{{ item.createdAt | date: 'dd/MM/yyyy' }}</td>
                <td>{{ item.updatedAt | date }}</td>
                <td>
                  <button (click)="activeDisableAdm(item)" *ngIf="item.active"class="btn btn-square btn-info" type="button" data-original-title="btn btn-square btn-info" title="">Ativo</button>
                  <button (click)="activeDisableAdm(item)" *ngIf="item.active === false" class="btn btn-square btn-danger" type="button" data-original-title="btn btn-square btn-danger" title="" aria-describedby="tooltip169072">Desativado</button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>


  </div>
</div>


